<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/dashbord.css">
    <title>Order Dashboard</title>
</head>
<body>
    <header>
        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo">
        <h1>{{ user.first_name }} {{ user.last_name}}</h1>
    </header>

    <div class="order-list">
        {% for product in products %}
        <div class="order-item">
            <div class="order-details">
                <h2>Product Name: {{ product.name }} ({{ product.ref }})</h2>
                <!-- Loop through all order details for this product -->
                {% for detail in order_details[product.id] %}
                    <div class="order-info">
                        <p><strong>Quantity:</strong> {{ detail.quantity }}</p>
                        <p><strong>Status:</strong> 
                            <span class="{{ detail.status | lower }}">{{ detail.status }}</span>
                        </p>
                    </div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
</body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="../static/script/order.js"></script>
</html>
