{% extends "layout.html" %}
{% block content %}
<!-- Flash Messages Section -->
{% include 'flash.html' %}
<header>
    <div class="header-left">
        <img src="{{ url_for('static', filename='images/logo.png') }}?cacheid={{ cache_id }}" alt="Logo">
    </div>
    <h1>{{ user.first_name }} {{ user.last_name}}</h1>
    <div class="header-right">
        <a href="{{ url_for('main.dashbord_page')}}" class="dashboard-button">Dashboard</a>
    </div>
</header>
<div class="grid-container">
    {% for product in products %}
    <div class="card">
        <img src="{{ url_for('static', filename='images/beaker, glass, 400ml.jpg') }}?cacheid={{ cache_id }}" alt="">
        <h2>{{ product.name }}</h2>
        <div class="details">
            <span class="label">Stock quantity:</span>
            <span class="value">{{ product.quentity }}</span>
        </div>
        <div class="details">
            <span class="label">Reference:</span>
            <span class="value">{{ product.ref }}</span>
        </div>
        <p>{{ product.description }}</p>
        <a href="{{ url_for('main.order_page', product_id=product.id) }}"><button>Order</button></a>
    </div>
    {% endfor %}
</div>
{% endblock %}