body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}
h1 {
    text-align: center;
    font-size: 24px;
    color: #666;
    margin-bottom: 20px;
}
input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
input[type="submit"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #333;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}


/* Style for the Sign In button */
.sign-in-btn {
    display: block;
    text-align: center;
    margin-top: 10px;
    text-decoration: none;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.1);
    color: #333;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}


form label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold; /* Makes the label text bold */
    color: #333; /* Sets a dark color for the text */
}

form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px; /* Rounded corners */
    background-color: #fff; /* White background */
    font-size: 16px; /* Increase font size for better readability */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Subtle shadow for better focus */
}

form select:focus {
    border-color: #009879; /* Change border color on focus */
    outline: none; /* Remove default outline */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Increase shadow on focus */
}